:root {
    --color-text:white;
    --color-menu: #e7d1ca ;
    --color-bg:rgb(28, 27, 27);
    --color-primary:#161616;
    --color-secondary:#ea2c91 ;
    

   --font-outfit: "Outfit";
  --font-parisienne : "Parisienne";
    
}